<div>
    <footer th:fragment="modules">
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/admin.js}"></script>
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/com.heatclinic.gwt.heatclinicAdmin.nocache.js}"></script>
    </footer>
    <footer th:fragment="login">
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/security.js}"></script>
    </footer>
    <footer th:fragment="non-gwt">
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/bootstrap-datepicker.js}"></script>
        <script type="text/javascript" th:src="@{com.heatclinic.gwt.heatclinicAdmin/admin/js/admin.js}"></script>
    </footer>
</div>