<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Author" content="Broadleaf Commerce" />
    <title>Broadleaf Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{com.heatclinic.gwt.heatclinicAdmin/admin/style/bootstrap-blc.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{com.heatclinic.gwt.heatclinicAdmin/admin/style/bootstrap-datepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{com.heatclinic.gwt.heatclinicAdmin/admin/style/admin.css}" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="com.heatclinic.gwt.heatclinicAdmin/admin/style/admin-ie.css" />
    <![endif]-->
</head>